<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Новая вкладка{% endblock %}</title>
    
    <!-- Подключаем ваши стили -->
    <link rel="stylesheet" href="{% static 'myapp/css/app.css' %}">
    
    <!-- Подключаем шрифты -->
    <style>
        @font-face {
            font-family: 'Helvetica LT UltraCompressed';
            src: url("{% static 'myapp/fonts/HelveticaLTUltraCompressed.woff2' %}") format('woff2');
            font-weight: 400;
            font-style: normal;
        }
        @font-face {
            font-family: 'Bebas Neue';
            src: url("{% static 'myapp/fonts/BebasNeue.woff2' %}") format('woff2');
            font-weight: 400;
            font-style: normal;
        }
    </style>
    
    {% block extra_css %}{% endblock %}
</head>
<body data-v-2f7b33fb>
    {% block content %}
    {% endblock %}
    
    <!-- Подключаем ваши скрипты -->
    <script src="{% static 'myapp/js/app.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>